<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="StdOut" target="SYSTEM_OUT">
      <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
      <PatternLayout pattern="%m%n"/>
    </Console>
    <Console name="StdErr" target="SYSTEM_ERR">
      <ThresholdFilter level="WARN"/>
      <PatternLayout pattern="%m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="StdOut"/>
      <AppenderRef ref="StdErr"/>
    </Root>
  </Loggers>
</Configuration>
